{% extends 'base.html' %}

{% block title %}
  Publish Page
{% endblock %}
{% block content %}
<h1> Welcome to Our Publish Master Page</h1>
<p style="text-align: center;">Written by the Renowned Islamic Scholar Sheikh Abdulwahab Abdallah (Hafizahullah) <br> Imam Ahlussunnah Wal-Jama'a.</p>

  <div class="row">
    <div class="column col-lg-4">
      <div class="card">
        <img src="{{url_for('static', filename='MLM 002 (2).jpg')}}" alt="Jane" style="width:100%; padding: 10px;">
        <div class="container">
          <p style="text-align: center;"> 
            sheikhabdulwahababdallah@gmail.com<br>
          WhatsApp: +2347018364232</p>
          <p><a href="mailto:sheikhabdulwahababdallah@gmail.com" class="btn btn-primary" role="button">Get in Touch</a></p>
        </div>
      </div>
    </div>
    <div class="column column col-lg-4">
      <div class="card">
        <img src="{{url_for('static', filename='MLM 001 (2).jpg')}}" alt="Jane" style="width:100%; padding: 10px;">
        <div class="container">
          <p style="text-align: center;"> 
            sheikhabdulwahababdallah@gmail.com<br>
          WhatsApp: +2347018364232</p>
          <p><a href="mailto:sheikhabdulwahababdallah@gmail.com" class="btn btn-primary" role="button">Get in Touch</a></p>
        </div>
      </div>
    </div>
    <div class="column column col-lg-4">
      <div class="card">
        <img src="{{url_for('static', filename='MLM 003 (2).jpg')}}" alt="Jane" style="width:100%; padding: 10px;">
        <div class="container">
          <p style="text-align: center;"> 
            sheikhabdulwahababdallah@gmail.com<br>
          WhatsApp: +2347018364232</p>
          <p><a href="mailto:sheikhabdulwahababdallah@gmail.com" class="btn btn-primary" role="button">Get in Touch</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column col-lg-4">
      <div class="card">
        <img src="{{url_for('static', filename='MLM 002 (2).jpg')}}" alt="Jane" style="width:100%; padding: 10px;">
        <div class="container">
          <p style="text-align: center;"> 
            sheikhabdulwahababdallah@gmail.com<br>
          WhatsApp: +2347018364232</p>
          <p><a href="mailto:sheikhabdulwahababdallah@gmail.com" class="btn btn-primary" role="button">Get in Touch</a></p>
        </div>
      </div>
    </div>
    <div class="column column col-lg-4">
      <div class="card">
        <img src="{{url_for('static', filename='MLM 001 (2).jpg')}}" alt="Jane" style="width:100%; padding: 10px;">
        <div class="container">
          <p style="text-align: center;"> 
            sheikhabdulwahababdallah@gmail.com<br>
          WhatsApp: +2347018364232</p>
          <p><a href="mailto:sheikhabdulwahababdallah@gmail.com" class="btn btn-primary" role="button">Get in Touch</a></p>
        </div>
      </div>
    </div>
    <div class="column column col-lg-4">
      <div class="card">
        <img src="{{url_for('static', filename='MLM 003 (2).jpg')}}" alt="Jane" style="width:100%; padding: 10px;">
        <div class="container">
          <p style="text-align: center;"> 
            sheikhabdulwahababdallah@gmail.com<br>
          WhatsApp: +2347018364232</p>
          <p><a href="mailto:sheikhabdulwahababdallah@gmail.com" class="btn btn-primary" role="button">Get in Touch</a></p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
