{% extends 'base.html' %}
{% block title %}
  Sahihul BukhariPage
{% endblock %}
{% block content %}
  
<h1>Welcome to the Sahihul Bukhari Master Page</h1>
<p style="text-align: center;"><b>By the Renowned Islamic Scholar Sheikh Abdulwahab Abdallah (Hafizahullah) <br> Imam Ahlussunnah Wal-Jama'a.</b></p>
<div style="margin-bottom: 0; padding-bottom: 0;" class="row">
  <div class="col-lg-6">
    <table class="shadow p-3 mb-5 bg-body rounded" style="margin: auto;">
      <tr style="border-bottom-width: 0; width: min-content;">
        <td> <img src="{{url_for('static', filename='audio.jpg')}}" alt="" style="width:90px; height:90px; padding: 10px;"> </td>
        <td style="padding-left: 20px; padding-right: 20px;"><p style="font-family: Ubuntu;">001 Sahih Bukhari</p></td>
        <td>
          <button class="btn btn-primary c1" style="margin-right: 20px;" id="A1" onClick="pA1()">
            <audio
              src="http://docs.google.com/uc?export=open&id="autoplay loop></audio> Play
          </button>              
        </td>
        </td>
        <td style="padding-right: 10px;"><a href="https://drive.google.com/uc?export=download&id=" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Download</a></td>
      </tr>
    </table>
  </div>
  <div class="col-lg-6">
    <table class="shadow p-3 mb-5 bg-body rounded" style="margin: auto;">
      <tr style="border-bottom-width: 0; width: min-content;">
        <td> <img src="{{url_for('static', filename='audio.jpg')}}" alt="" style="width:90px; height:90px; padding: 10px;"> </td>
        <td style="padding-left: 20px; padding-right: 20px;"><p style="font-family: Ubuntu;">002 Sahih Bukhari</p></td>
        <td>
          <button type="button" class="btn btn-primary c2" style="margin-right: 20px;" id="A2" onClick="pA2()">
            <audio
              src="http://docs.google.com/uc?export=open&id=" autoplay loop></audio> Play
          </button>              
        </td>
        <td style="padding-right: 10px;"><a href="https://drive.google.com/uc?export=download&id=" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Download</a></td>
      </tr>
    </table>
  </div>
</div>
<div style="margin-top: 0; padding-top: 0; margin-bottom: 0; padding-bottom: 0;" class="row">
  <div class="col-lg-6">
    <table class="shadow p-3 mb-5 bg-body rounded" style="margin: auto;">
      <tr style="border-bottom-width: 0; width: min-content;">
        <td> <img src="{{url_for('static', filename='audio.jpg')}}" alt="" style="width:90px; height:90px; padding: 10px;"> </td>
        <td style="padding-left: 20px; padding-right: 20px;"><p style="font-family: Ubuntu;">003 Sahih Bukhari</p></td>
        <td>
          <button class="btn btn-primary c1" style="margin-right: 20px;" id="A3" onClick="pA3()">
            <audio
              src="http://docs.google.com/uc?export=open&id="autoplay loop></audio> Play
          </button>              
        </td>
        </td>
        <td style="padding-right: 10px;"><a href="https://drive.google.com/uc?export=download&id=" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Download</a></td>
      </tr>
    </table>
  </div>
  <div class="col-lg-6">
    <table class="shadow p-3 mb-5 bg-body rounded" style="margin: auto;">
      <tr style="border-bottom-width: 0; width: min-content;">
        <td> <img src="{{url_for('static', filename='audio.jpg')}}" alt="" style="width:90px; height:90px; padding: 10px;"> </td>
        <td style="padding-left: 20px; padding-right: 20px;"><p style="font-family: Ubuntu;">004 Sahih Bukhari</p></td>
        <td>
          <button class="btn btn-primary c1" style="margin-right: 20px;" id="A4" onClick="pA4()">
            <audio src="http://docs.google.com/uc?export=open&id="autoplay loop></audio>Play
          </button>              
        </td>
        <td style="padding-right: 10px;"><a href="https://drive.google.com/uc?export=download&id=" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Download</a></td>
      </tr>
    </table>
  </div>
</div>  
<div style="margin-top: 0; padding-top: 0; margin-bottom: 0; padding-bottom: 0;" class="row">
  <div class="col-lg-6">
    <table class="shadow p-3 mb-5 bg-body rounded" style="margin: auto;">
      <tr style="border-bottom-width: 0; width: min-content;">
        <td> <img src="{{url_for('static', filename='audio.jpg')}}" alt="" style="width:90px; height:90px; padding: 10px;"> </td>
        <td style="padding-left: 20px; padding-right: 20px;"><p style="font-family: Ubuntu;">005 Sahih Bukhari</p></td>
        <td>
          <button class="btn btn-primary c1" style="margin-right: 20px;" id="A5" onClick="pA5()">
            <audio
              src="http://docs.google.com/uc?export=open&id="autoplay loop></audio> Play
          </button>              
        </td>
        </td>
        <td style="padding-right: 10px;"><a href="https://drive.google.com/uc?export=download&id=" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Download</a></td>
      </tr>
    </table>
  </div>
  <div class="col-lg-6">
    <table class="shadow p-3 mb-5 bg-body rounded" style="margin: auto;">
      <tr style="border-bottom-width: 0; width: min-content;">
        <td> <img src="{{url_for('static', filename='audio.jpg')}}" alt="" style="width:90px; height:90px; padding: 10px;"> </td>
        <td style="padding-left: 20px; padding-right: 20px;"><p style="font-family: Ubuntu;">006 Sahih Bukhari</p></td>
        <td>
          <button class="btn btn-primary c1" style="margin-right: 20px;" id="A6" onClick="pA6()">
            <audio src="http://docs.google.com/uc?export=open&id="autoplay loop></audio>Play
          </button>              
        </td>
        <td style="padding-right: 10px;"><a href="https://drive.google.com/uc?export=download&id=" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Download</a></td>
      </tr>
    </table>
  </div>
</div>  







<script>
  var aud = document.getElementById("ASong").children[0];
  var aud1 = document.getElementById("ASong1").children[0];
  var aud2 = document.getElementById("ASong2").children[0];
  var t=document.getElementById("ASong")
  var t1=document.getElementById("ASong1")
  var t2=document.getElementById("ASong2")
  
  
  var isPlaying = false;
  aud.pause();
  aud1.pause();
  aud2.pause();


  function playPause() {
    if (isPlaying) {
      aud2.pause();
      aud1.pause();
      aud.pause();
      t.innerText="Play";
      
    } else {
      aud2.pause();
      aud1.pause();
      aud.play();
      t.innerText="Pause";
    }
    isPlaying = !isPlaying;
  }

  function playPause1() {
    if (isPlaying) {
      aud2.pause();
      aud.pause();
      aud1.pause();
      t1.innerText="Play"      
    } else {
      aud2.pause();
      aud.pause();
      aud1.play();
      t1.innerText="Pause"
    }
    isPlaying = !isPlaying;
  }
  
  function playPause2() {
    if (isPlaying) {
      aud.pause();
      aud1.pause();
      aud2.pause();
      t2.innerText="Play"     
    } else {
      aud.pause();
      aud1.pause();
      aud2.play();
      t2.innerText="Pause"
    }
    isPlaying = !isPlaying;
  }
</script> 

{% endblock %}
