{% extends 'base.html' %}
  
{% block title %}
  Sahih Muslim Video Page
{% endblock %}
  
{% block content %}
<h1> Welcome to Our Sahih Muslim Videos Section</h1>
  <p style="text-align: center;">By the Renowned Islamic Scholar Sheikh Abdulwahab Abdallah (Hafizahullah) <br> Imam Ahlussunnah Wal-Jama'a.</p>
  
<div class="row">
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/S62CZhRGRHI" allowfullscreen>
        </iframe>
        <h3 class="videoLinks">001 Sahih Muslim</h3> 
      </div>
    </div>
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/m-3Fwt22L_Q" allowfullscreen>
        </iframe> 
        <h3 class="videoLinks">002 Sahih Muslim</h3> 
      </div>
    </div>
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/hNp8NJl9TWU" allowfullscreen>
        </iframe> 
        <h3 class="videoLinks">003 Sahih Muslim</h3> 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/870vo-Nrwh4" allowfullscreen>
        </iframe>
        <h3 class="videoLinks">004 Sahih Muslim</h3> 
      </div>
    </div>
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/TotzLvAroTE" allowfullscreen>
        </iframe> 
        <h3 class="videoLinks">005 Sahih Muslim</h3> 
      </div>
    </div>
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/zMedydbe8YY" allowfullscreen>
        </iframe> 
        <h3 class="videoLinks">006 Sahih Muslim</h3> 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/kP_TAFTomGw" allowfullscreen>
        </iframe>
        <h3 class="videoLinks">007 Sahih Muslim</h3> 
      </div>
    </div>
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/-PHKEMWRVTk" allowfullscreen>
        </iframe> 
        <h3 class="videoLinks">008 Sahih Muslim</h3> 
      </div>
    </div>
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/Gb8UQHOSVVo" allowfullscreen>
        </iframe> 
        <h3 class="videoLinks">009 Sahih Muslim</h3> 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/vArsopMkw8s" allowfullscreen>
        </iframe>
        <h3 class="videoLinks">010 Sahih Muslim</h3> 
      </div>
    </div>
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/SQTyr_-r09A" allowfullscreen>
        </iframe> 
        <h3 class="videoLinks">011 Sahih Muslim</h3> 
      </div>
    </div>
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/a1roJ2nrrrs" allowfullscreen>
        </iframe> 
        <h3 class="videoLinks">012 Sahih Muslim</h3> 
      </div>
    </div>
  </div>

{% endblock %}


