{% extends 'base.html' %}
  
{% block title %}
  Fatwa Video Page
{% endblock %}
  
{% block content %}
<h1> Welcome to Our Fatwa Videos Section</h1>
  <p style="text-align: center;">By the Renowned Islamic Scholar Sheikh Abdulwahab Abdallah (Hafizahullah) <br> Imam Ahlussunnah Wal-Jama'a.</p>
  
<div class="row">
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/3FEETZ5N35Q" allowfullscreen>
        </iframe>
        <h3 class="videoLinks">Falalar Mai Manta Al-Qur'ani</h3> 
      </div>
    </div>
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/EzdSc577k9U" allowfullscreen>
        </iframe> 
        <h3 class="videoLinks">Maraba da Ramadhan</h3> 
      </div>
    </div>
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/oABjffawMpg" allowfullscreen>
        </iframe> 
        <h3 class="videoLinks">Muhimmin Sako Zuwaga 'Yan Siyasa da kiristoci </h3> 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/pe9xCaNyFk4" allowfullscreen>
        </iframe>
        <h3 class="videoLinks">Hukuncin Sanya Turare ga 'Yan Mata</h3> 
      </div>
    </div>
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/-tQvDa7HMLY" allowfullscreen>
        </iframe> 
        <h3 class="videoLinks">Allah Yana Yiwa Bayinsa Tallan Mata</h3> 
      </div>
    </div>
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/MDIPnJN8iXc" allowfullscreen>
        </iframe> 
        <h3 class="videoLinks">Hukuncin Al-Qunitun Sallar Asuba</h3> 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/qLmUkaDRs2Q" allowfullscreen>
        </iframe>
        <h3 class="videoLinks">Menene Farkon Sallah?</h3> 
      </div>
    </div>
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/wGeGjS6DRn0" allowfullscreen>
        </iframe> 
        <h3 class="videoLinks">Shin Mutuwa a Sanadiyar Bari, Shahada ce?</h3> 
      </div>
    </div>
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/J21ymjQuEoY" allowfullscreen>
        </iframe> 
        <h3 class="videoLinks">Duk Abu Mai Kyau, Kowa Ya Sani!</h3> 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/3kuvKltMI1Y" allowfullscreen>
        </iframe>
        <h3 class="videoLinks">Malam Duk Lokacin da Nayi Aure, Sai Munsami Sabani da Mijin!</h3> 
      </div>
    </div>
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/CVyUqNayUXQ" allowfullscreen>
        </iframe> 
        <h3 class="videoLinks">Kira ga Mahukunta</h3> 
      </div>
    </div>
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/mQ2VZT0isus" allowfullscreen>
        </iframe> 
        <h3 class="videoLinks">Shi Shugabanci, Izza ce da Buwaya!</h3> 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/F6DasZ6gBbw" allowfullscreen>
        </iframe>
        <h3 class="videoLinks">Dan Adam Abin Tausayi Ne!</h3> 
      </div>
    </div>
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/jyg90XFbl6E" allowfullscreen>
        </iframe> 
        <h3 class="videoLinks">Wai Dagaske Haramunne Kusantar Iyali da Ramadhan</h3> 
      </div>
    </div> 
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/FdhvmryCOLA" allowfullscreen>
        </iframe> 
        <h3 class="videoLinks">Muna Kallon Manzan Allah (SAW) Kawai sai Muji Muna sonsa!</h3> 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/Lko8oPXGRQI" allowfullscreen>
        </iframe>
        <h3 class="videoLinks">Bakandamiyar Tunatarwa!</h3> 
      </div>
    </div>
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/5O2SV5eR2iQ" allowfullscreen>
        </iframe> 
        <h3 class="videoLinks">Kai Wallahi Annabi (SAW) Annabi Ne!</h3> 
      </div>
    </div> 
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315" 
        src="https://www.youtube.com/embed/ejGoX0524ts" allowfullscreen>
        </iframe> 
        <h3 class="videoLinks">Zaka Tausawa Gwamna El-Rufa'i da Masari</h3> 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/X-ESwZaX6Kk" allowfullscreen>
        </iframe>
        <h3 class="videoLinks">Wanda Sha'awarsa ta Kare Tabe-Tabe Yakeso</h3> 
      </div>
    </div>
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/fPMt8tR9cBU" allowfullscreen>
        </iframe> 
        <h3 class="videoLinks">Namiji Ba Gyada Bane</h3> 
      </div>
    </div> 
    <div class="column col-lg-4">
      <div class="card">     
        <iframe width="420" height="315" 
        src="https://www.youtube.com/embed/Qe8t5L9mLCk" allowfullscreen>
        </iframe> 
        <h3 class="videoLinks">Dama Haka Muke Sa Ran Buhari Zaiyi</h3> 
      </div>
    </div>
  </div>

{% endblock %}


